.button{
    -fx-background-color: #F0FFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
}
/* Hover effect */
.button:hover {
    -fx-background-color: #D56427;
}

